[user]
    name = Koichi Nakayamada
    email = 151496024+koichincom@users.noreply.github.com

[core]
    editor = nvim
    excludesfile = ~/.gitignore_global

[init]
    defaultBranch = main

[pull]
    rebase = true

[rebase]
    autoStash = true

[alias]
    # Basic shortcuts
    st = status
    co = checkout
    br = branch
    ci = commit
    
    # Commit shortcuts
    cm = commit -m
    ca = commit --amend
    cane = commit --amend --no-edit
    
    # Branch operations
    sw = switch
    swc = switch -c
    
    # Log views
    lg = log --oneline --graph --decorate
    last = log -1 HEAD
    
    # Diff shortcuts
    df = diff
    dfc = diff --cached
    
    # Staging
    aa = add --all
    unstage = reset HEAD --
    
    # Stash shortcuts
    stash-all = stash save --include-untracked
    
    # Status shortcuts
    s = status -s
