[user]
    name = Koichi Nakayamada
    email = 151496024+koichincom@users.noreply.github.com

[core]
    editor = nvim
    autocrlf = input
    excludesfile = ~/.gitignore_global

[init]
    defaultBranch = main

[pull]
    rebase = true

[rebase]
    autoStash = true
